In [29]:
import pandas as pd

In [31]:
# Load the original CSV
df = pd.read_csv('/Users/wagely/Downloads/ID Payout level Jan latest.csv')

In [33]:
df.head()

,country_name,currency,employer_id,reimbursement_notice_id,payout_id,disbursed_at,user_id,ewa_amount,membership_fee,membership_fee_disc,...,late_fee_usd,write_off_usd,repayment_timeline,recycle_count,net_outstanding_exclude_membership,net_outstanding_include_membership,net_outstanding_usd_include_membership,repayment_amount,monthly_exchange_rate_xero,write_off_late_fees
0,Indonesia,IDR,4,4.11.21072020,182,2020-07-07,1045.0,435000.0,35000.0,0.0,...,0.781339,0.0,27.0,12.0,0.0,0.0,0.0,NaN,16288.7,0.0
1,Indonesia,IDR,4,4.142.15022021,9374,2021-02-12,1045.0,425000.0,35000.0,0.0,...,1.229994,0.0,28.0,12.0,0.0,0.0,0.0,NaN,16288.7,0.0
2,Indonesia,IDR,4,4.200.15042021,12114,2021-03-24,1045.0,315000.0,35000.0,0.0,...,0.323230,0.0,35.0,10.0,0.0,0.0,0.0,NaN,16288.7,0.0
3,Indonesia,IDR,4,4.5003.15082023,706560,2023-07-28,1045.0,29800.0,1192.0,0.0,...,NaN,0.0,28.0,12.0,0.0,0.0,0.0,NaN,16288.7,0.0
4,Indonesia,IDR,4,4.5320.15092023,764331,2023-08-20,1045.0,300000.0,25000.0,0.0,...,NaN,0.0,36.0,10.0,0.0,0.0,0.0,NaN,16288.7,0.0

In [35]:
pivot_table = pd.pivot_table(df, 
                             values=['outstanding_principal','outstanding_non_principal','outstanding_non_principal_with_tax'],  # Multiple columns
                             index='days_past_due_category',            # Row categories
                             # columns='reimbursement_notice_id',           # Column categories
                             aggfunc='sum')               # Aggregation function

In [37]:
# Display the pivot table
print(pivot_table)

                        outstanding_non_principal  \
days_past_due_category
a. Current                           5.658935e+10
b. 1 - 14                            2.836562e+08
c. 15 - 29                           4.312390e+06
d. 30 - 59                           4.409326e+08
e. 60 - 89                           2.563120e+08
f. 90 - 119                          1.620012e+08
g. 120 - 149                         3.575418e+08
h. 150 - 180                         2.336479e+08
i. 180+                              7.256568e+09

                        outstanding_non_principal_with_tax  \
days_past_due_category
a. Current                                    5.729230e+10
b. 1 - 14                                     2.941798e+08
c. 15 - 29                                    6.643135e+06
d. 30 - 59                                    4.442018e+08
e. 60 - 89                                    2.566258e+08
f. 90 - 119                                   1.644527e+08
g. 120 - 149                                  3.575418e+08
h. 150 - 180                                  2.336479e+08
i. 180+                                       7.256568e+09

                        outstanding_principal
days_past_due_category
a. Current                       5.041672e+10
b. 1 - 14                        2.339719e+08
c. 15 - 29                       0.000000e+00
d. 30 - 59                       3.853946e+08
e. 60 - 89                       2.054066e+08
f. 90 - 119                      5.336945e+07
g. 120 - 149                     3.090938e+07
h. 150 - 180                     0.000000e+00
i. 180+                          4.581420e+09

In [39]:
# Save to CSV
pivot_table.to_csv('pivot_output.csv')

In [41]:
from IPython.display import HTML

def create_download_link(filename):
    return HTML(f'<a href="{filename}" download>Click here to download {filename}</a>')

create_download_link('pivot_output.csv')